In [129]:
!pip3 install pandas
!pip3 install -U scikit-learn
!pip3 install seaborn
!pip3 install matplotlib

Error processing line 1 of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/vision-1.0.0-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site.py", line 186, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip
Error processing line 1 of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/vision-1.0.0-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site.py", line 186, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.10.1)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip
Error processing line 1 of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/vision-1.0.0-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site.py", line 186, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (3.6.0rc2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.33.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.3)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip
Error processing line 1 of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/vision-1.0.0-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site.py", line 186, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.6.0rc2)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.3)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [130]:
import pandas as pd

df = pd.read_csv('data.csv', thousands=',')
df.head()

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg),Unnamed: 293,Unnamed: 294,Unnamed: 295,Unnamed: 296,Unnamed: 297
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,155,NaN,NaN,NaN,NaN,NaN,NaN
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,NaN
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,NaN,NaN,NaN,49,NaN,NaN,NaN,NaN,NaN,NaN
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,NaN,NaN,NaN,178,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
df.describe()

,Classification,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),Total dietary fibre \n(g),Alcohol \n(g),...,Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg),Unnamed: 293,Unnamed: 294,Unnamed: 295,Unnamed: 296,Unnamed: 297
count,1614.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,...,181.000000,181.000000,181.000000,1616.000000,181.000000,0.0,0.0,0.0,0.0,0.0
mean,18760.882900,845.643564,823.602723,57.143193,12.439233,2.012735,9.495730,1.874876,2.676980,0.179827,...,482.254144,453.276243,329.950276,124.447401,532.000000,NaN,NaN,NaN,NaN,NaN
std,5062.646828,702.908930,696.848908,29.319870,11.278716,1.821698,16.903693,5.122109,5.970007,1.633011,...,556.262340,514.990141,372.714745,112.338987,591.124644,NaN,NaN,NaN,NaN,NaN
min,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,9.000000,5.000000,0.000000,10.000000,NaN,NaN,NaN,NaN,NaN
25%,15101.000000,306.750000,294.750000,34.700000,2.175000,0.340000,0.400000,0.700000,0.000000,0.000000,...,67.000000,53.000000,38.000000,21.000000,64.000000,NaN,NaN,NaN,NaN,NaN
50%,18102.000000,662.500000,658.500000,65.200000,9.350000,1.550000,3.000000,1.200000,0.500000,0.000000,...,159.000000,126.000000,103.000000,97.000000,186.000000,NaN,NaN,NaN,NaN,NaN
75%,23107.000000,1214.500000,1154.000000,79.600000,21.900000,3.510000,10.200000,1.800000,3.000000,0.000000,...,852.000000,918.000000,654.000000,211.250000,1029.000000,NaN,NaN,NaN,NaN,NaN
max,34101.000000,3703.000000,3703.000000,100.000000,85.000000,15.200000,100.000000,99.800000,88.700000,34.400000,...,3830.000000,2082.000000,1685.000000,795.000000,2645.000000,NaN,NaN,NaN,NaN,NaN

## Data Cleaning - Daksh
Some issues with current data that need to be resolved before processing:
- 5 Empty Columns at the End.

In [132]:
# Exclude last 5 columns
df = df.iloc[:, :-5]
df.head()

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Leucine \n(mg),Lysine \n(mg),Methionine \n(mg),Phenylalanine \n(mg),Proline \n(mg),Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg)
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178,NaN

In [133]:
df.dropna(how='all', axis=1, inplace=True)
df.head()

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Leucine \n(mg),Lysine \n(mg),Methionine \n(mg),Phenylalanine \n(mg),Proline \n(mg),Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg)
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178,NaN

### Understanding Missing Data
Filtering out the columns with high amount of missing data.

In [134]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

bins = range(0, 101, 10)
bins = pd.cut(missing_value_df['percent_missing'], bins).value_counts()

from matplotlib import pyplot as plt

#plt.bar(bins)sdd

plt.show()
bins

(90, 100]    87
(80, 90]     27
(50, 60]     24
(60, 70]     24
(30, 40]     20
(40, 50]      8
(10, 20]      7
(70, 80]      7
(20, 30]      2
(0, 10]       1
Name: percent_missing, dtype: int64

In [135]:
missing_value_df.sort_values(by='percent_missing')
missing_value_df.tail()

                         column_name  percent_missing
Serine \n(mg)          Serine \n(mg)        88.799505
Threonine \n(mg)    Threonine \n(mg)        88.799505
Tyrosine \n(mg)      Tyrosine \n(mg)        88.799505
Tryptophan \n(mg)  Tryptophan \n(mg)         0.000000
Valine \n(mg)          Valine \n(mg)        88.799505

In [136]:
percent_missing

Public Food Key                                   0.000000
Classification                                    0.123762
Food Name                                         0.000000
Energy with dietary fibre, equated \n(kJ)         0.000000
Energy, without dietary fibre, equated \n(kJ)     0.000000
                                                   ...
Serine \n(mg)                                    88.799505
Threonine \n(mg)                                 88.799505
Tyrosine \n(mg)                                  88.799505
Tryptophan \n(mg)                                 0.000000
Valine \n(mg)                                    88.799505
Length: 269, dtype: float64

 Setting threshold of 40% to retain 30 Columns of Data.

In [137]:
col_to_drop = percent_missing[percent_missing > 1].keys()
df = df.drop(col_to_drop, axis=1)
# df.head()
print(f"{len(df.columns)} columns left")

63 columns left

### Fill Missing Values

In [138]:
df.fillna(df.mean(), inplace=True)
df.columns

/var/folders/_7/sr3p02zn35v2xg1fm8dsbz6c0000gn/T/ipykernel_18344/3770483552.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

Index(['Public Food Key', 'Classification', 'Food Name',
       'Energy with dietary fibre, equated \n(kJ)',
       'Energy, without dietary fibre, equated \n(kJ)',
       'Moisture (water) \n(g)', 'Protein \n(g)', 'Nitrogen \n(g)',
       'Fat, total \n(g)', 'Ash \n(g)', 'Total dietary fibre \n(g)',
       'Alcohol \n(g)', 'Total sugars (g)', 'Added sugars (g)',
       'Free sugars \n(g)', 'Starch \n(g)',
       'Available carbohydrate, without sugar alcohols \n(g)',
       'Available carbohydrate, with sugar alcohols \n(g)',
       'Calcium (Ca) \n(mg)', 'Iodine (I) \n(ug)', 'Iron (Fe) \n(mg)',
       'Magnesium (Mg) \n(mg)', 'Phosphorus (P) \n(mg)',
       'Potassium (K) \n(mg)', 'Selenium (Se) \n(ug)', 'Sodium (Na) \n(mg)',
       'Zinc (Zn) \n(mg)', 'Retinol (preformed vitamin A) \n(ug)',
       'Beta-carotene \n(ug)',
       'Beta-carotene equivalents (provitamin A) \n(ug)',
       'Vitamin A retinol equivalents \n(ug)', 'Thiamin (B1) \n(mg)',
       'Riboflavin (B2) \n(mg)', 'Niacin (B3) \n(mg)',
       'Niacin derived from tryptophan \n(mg)',
       'Niacin derived equivalents \n(mg)', 'Pyridoxine (B6) \n(mg)',
       'Cobalamin (B12) \n(ug)', 'Folate, natural \n(ug)', 'Folic acid \n(ug)',
       'Total folates \n(ug)', 'Dietary folate equivalents \n(ug)',
       'Vitamin C \n(mg)', 'Cholecalciferol (D3) \n(ug)',
       'Ergocalciferol (D2) \n(ug)',
       '25-hydroxy cholecalciferol (25-OH D3) \n(ug)',
       '25-hydroxy ergocalciferol (25-OH D2) \n(ug)',
       'Vitamin D3 equivalents \n(ug)', 'Alpha tocopherol \n(mg)',
       'Vitamin E \n(mg)', 'Total saturated fatty acids, equated \n(g)',
       'Total monounsaturated fatty acids, equated \n(g)', 'C18:2w6 (g)',
       'C18:3w3 (g)', 'C20:5w3 (mg)', 'C22:5w3 (mg)', 'C22:6w3 (mg)',
       'Total polyunsaturated fatty acids, equated \n(g)',
       'Total long chain omega 3 fatty acids, equated \n(mg)',
       'Total trans fatty acids, imputed \n(mg)', 'Caffeine \n(mg)',
       'Cholesterol \n(mg)', 'Tryptophan \n(mg)'],
      dtype='object')

Vitamin D, B12, Omega 3 fatty acids, fibre, (E)

In [139]:
# df.iloc[:,3:] = df.iloc[:,3:].fillna(df.iloc[:,3:].mean())
2 = 2

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (493210269.py, line 2)

### Normalisation - Daksh

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df.iloc[:, 3:] = scaler.fit_transform(df.iloc[:, 3:].to_numpy())
df.head()

### PCA - Daksh

In [ ]:
df.columns[df.isna().any()].tolist()

In [ ]:
from sklearn.decomposition import PCA

sklearn_pca = PCA(n_components=2, random_state=69)

df_pca = sklearn_pca.fit_transform(df.iloc[:, 3:])
df_pca

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

print(sklearn_pca.explained_variance_ratio_)
# Visualise the first 2 PCs
sns.scatterplot(x=df_pca[:, 0],
                y=df_pca[:, 1], )
plt.title("PCA with 2 components")
plt.xlabel('1st Principal Component')
plt.ylabel('2nd Principal Component')
plt.show()