In [21]:
import pandas as pd

df = pd.read_csv('data.csv', thousands=',')
df.dropna(how='all', axis=1, inplace=True)
df

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Leucine \n(mg),Lysine \n(mg),Methionine \n(mg),Phenylalanine \n(mg),Proline \n(mg),Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg)
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,F009774,24702.0,"Zucchini, green skin, fresh, unpeeled, fried, ...",92,80,92.6,1.3,0.20,0.4,0.6,...,62.0,58.0,16.0,38.0,32.0,81.0,39.0,28.0,14,53.0
1612,F009773,24702.0,"Zucchini, green skin, fresh, unpeeled, boiled,...",77,66,93.8,1.1,0.17,0.4,0.5,...,52.0,48.0,13.0,31.0,26.0,67.0,33.0,24.0,12,44.0
1613,F009766,24702.0,"Zucchini, golden, fresh, unpeeled, raw",78,70,94.1,2.2,0.35,0.3,0.6,...,106.0,100.0,27.0,64.0,54.0,138.0,67.0,48.0,25,91.0
1614,F009765,24702.0,"Zucchini, golden, fresh, unpeeled, fried, no a...",111,100,91.6,3.1,0.50,0.4,0.8,...,152.0,142.0,38.0,92.0,77.0,198.0,96.0,69.0,35,130.0
1615,F009764,24702.0,"Zucchini, golden, fresh, unpeeled, boiled, dra...",93,83,93.0,2.6,0.42,0.4,0.7,...,126.0,118.0,32.0,77.0,64.0,165.0,80.0,58.0,29,108.0

### Train test Split

In [22]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(df,test_size=0.2)
train

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Leucine \n(mg),Lysine \n(mg),Methionine \n(mg),Phenylalanine \n(mg),Proline \n(mg),Serine \n(mg),Threonine \n(mg),Tyrosine \n(mg),Tryptophan \n(mg),Valine \n(mg)
304,F003983,12103.0,"Flour, arrowroot",1378,1350,12.0,0.4,0.07,0.2,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
981,F006921,18103.0,"Pork, forequarter chop, lean, BBQ'd, no added fat",680,680,64.1,26.3,4.21,6.3,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307,NaN
36,F001004,29102.0,"Beer, light (alcohol 1-2.9% v/v)",100,100,94.5,0.2,0.03,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
706,F000517,18101.0,"Beef, casserole meat, boneless or bone-in, shi...",960,957,56.8,30.6,4.90,11.8,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
1590,F009033,24302.0,"Sweet potato, orange flesh, peeled, fresh, bak...",357,332,74.0,2.3,0.37,0.1,0.8,...,140.0,106.0,34.0,122.0,72.0,125.0,103.0,76.0,38,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,F000964,18101.0,"Beef, topside roast, semi-trimmed, roasted, no...",719,719,62.1,32.1,5.13,4.7,1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260,NaN
1514,F006321,24403.0,"Parsley, continental, fresh, raw",150,110,86.2,3.9,0.62,0.7,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN
166,F001529,12201.0,"Bread, from white flour, Italian-style, commer...",1274,1237,23.0,10.7,1.88,3.0,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,NaN
95,F008402,11503.0,"Soft drink, cola flavour",206,206,89.4,0.0,0.00,0.2,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
784,F000793,18101.0,"Beef, silverside roast, lean, roasted, no adde...",664,664,64.0,26.9,4.30,5.6,1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218,NaN

### Column Filtering
Many columns have a significant percentage of missing values, remove such columns since they might not be able to provide good insights

In [23]:
null_percentage = df.isnull().sum()/df.shape[0]*100

# Below code gives list of columns having more than 10% null
col_to_drop = null_percentage[null_percentage>10].keys()

column_filtered_df = df.drop(col_to_drop, axis=1)
print("Columns to Remove: ",col_to_drop)
column_filtered_df

Columns to Remove:  Index(['Fructose \n(g)', 'Glucose \n(g)', 'Sucrose\n(g)', 'Maltose \n(g)',
       'Lactose \n(g)', 'Galactose \n(g)', 'Maltotrios \n(g)', 'Dextrin \n(g)',
       'Glycerol \n(g)', 'Glycogen \n(g)',
       ...
       'Isoleucine \n(mg)', 'Leucine \n(mg)', 'Lysine \n(mg)',
       'Methionine \n(mg)', 'Phenylalanine \n(mg)', 'Proline \n(mg)',
       'Serine \n(mg)', 'Threonine \n(mg)', 'Tyrosine \n(mg)',
       'Valine \n(mg)'],
      dtype='object', length=206)

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,C18:3w3 (g),C20:5w3 (mg),C22:5w3 (mg),C22:6w3 (mg),"Total polyunsaturated fatty acids, equated \n(g)","Total long chain omega 3 fatty acids, equated \n(mg)","Total trans fatty acids, imputed \n(mg)",Caffeine \n(mg),Cholesterol \n(mg),Tryptophan \n(mg)
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,0.39,0.00,0.00,0.0,1.39,0.000,0.0,0,0,155
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,0.44,0.00,0.00,0.0,6.69,0.000,0.0,0,0,69
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,0.02,0.00,0.00,0.0,0.12,0.000,0.0,0,0,49
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,0.81,11.06,255.52,0.0,5.03,266.581,0.0,0,0,30
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,0.00,0.00,0.00,0.0,1.82,0.000,0.0,0,0,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,F009774,24702.0,"Zucchini, green skin, fresh, unpeeled, fried, ...",92,80,92.6,1.3,0.20,0.4,0.6,...,0.00,0.00,0.00,0.0,0.00,0.000,0.0,0,0,14
1612,F009773,24702.0,"Zucchini, green skin, fresh, unpeeled, boiled,...",77,66,93.8,1.1,0.17,0.4,0.5,...,0.00,0.00,0.00,0.0,0.00,0.000,0.0,0,0,12
1613,F009766,24702.0,"Zucchini, golden, fresh, unpeeled, raw",78,70,94.1,2.2,0.35,0.3,0.6,...,0.00,0.00,0.00,0.0,0.00,0.000,0.0,0,0,25
1614,F009765,24702.0,"Zucchini, golden, fresh, unpeeled, fried, no a...",111,100,91.6,3.1,0.50,0.4,0.8,...,0.00,0.00,0.00,0.0,0.00,0.000,0.0,0,0,35
1615,F009764,24702.0,"Zucchini, golden, fresh, unpeeled, boiled, dra...",93,83,93.0,2.6,0.42,0.4,0.7,...,0.00,0.00,0.00,0.0,0.00,0.000,0.0,0,0,29

Drop Columns that have more than 50% Zeroes since they don't provide much utility

In [24]:
df_zero_filtered = column_filtered_df.loc[:, (column_filtered_df==0).mean() < .5]
df_zero_filtered

,Public Food Key,Classification,Food Name,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),...,Dietary folate equivalents \n(ug),Alpha tocopherol \n(mg),Vitamin E \n(mg),"Total saturated fatty acids, equated \n(g)","Total monounsaturated fatty acids, equated \n(g)",C18:2w6 (g),C18:3w3 (g),"Total polyunsaturated fatty acids, equated \n(g)","Total trans fatty acids, imputed \n(mg)",Tryptophan \n(mg)
0,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,3,2.8,2.85,2.20,2.81,1.00,0.39,1.39,0.0,155
1,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,28,38.1,38.14,2.06,2.68,6.24,0.44,6.69,0.0,69
2,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4.0,0.64,1.2,3.6,...,6,2.3,2.32,0.62,0.44,0.08,0.02,0.12,0.0,49
3,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6.0,0.96,13.0,5.6,...,25,8.8,8.82,5.49,1.93,3.69,0.81,5.03,0.0,30
4,F003190,31302.0,"Coriander seed, dried, ground",1344,1009,8.9,12.4,1.98,17.8,6.0,...,0,0.9,0.91,1.03,14.14,1.82,0.00,1.82,0.0,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,F009774,24702.0,"Zucchini, green skin, fresh, unpeeled, fried, ...",92,80,92.6,1.3,0.20,0.4,0.6,...,19,0.7,0.70,0.00,0.00,0.00,0.00,0.00,0.0,14
1612,F009773,24702.0,"Zucchini, green skin, fresh, unpeeled, boiled,...",77,66,93.8,1.1,0.17,0.4,0.5,...,13,0.6,0.59,0.00,0.00,0.00,0.00,0.00,0.0,12
1613,F009766,24702.0,"Zucchini, golden, fresh, unpeeled, raw",78,70,94.1,2.2,0.35,0.3,0.6,...,17,0.5,0.52,0.00,0.00,0.00,0.00,0.00,0.0,25
1614,F009765,24702.0,"Zucchini, golden, fresh, unpeeled, fried, no a...",111,100,91.6,3.1,0.50,0.4,0.8,...,17,0.7,0.70,0.00,0.00,0.00,0.00,0.00,0.0,35
1615,F009764,24702.0,"Zucchini, golden, fresh, unpeeled, boiled, dra...",93,83,93.0,2.6,0.42,0.4,0.7,...,13,0.6,0.59,0.00,0.00,0.00,0.00,0.00,0.0,29

In [25]:
df_zero_filtered.describe()

,Classification,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),Total dietary fibre \n(g),Total sugars (g),...,Dietary folate equivalents \n(ug),Alpha tocopherol \n(mg),Vitamin E \n(mg),"Total saturated fatty acids, equated \n(g)","Total monounsaturated fatty acids, equated \n(g)",C18:2w6 (g),C18:3w3 (g),"Total polyunsaturated fatty acids, equated \n(g)","Total trans fatty acids, imputed \n(mg)",Tryptophan \n(mg)
count,1614.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,...,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.000000,1616.00000,1616.000000
mean,18760.882900,845.643564,823.602723,57.143193,12.439233,2.012735,9.495730,1.874876,2.676980,5.890780,...,51.781559,1.160149,1.354121,3.309425,3.727692,1.323156,0.214889,1.669988,175.53367,124.447401
std,5062.646828,702.908930,696.848908,29.319870,11.278716,1.821698,16.903693,5.122109,5.970007,13.361203,...,174.729168,3.503735,6.355711,6.577457,7.750950,4.534164,1.604467,5.217645,479.74001,112.338987
min,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,15101.000000,306.750000,294.750000,34.700000,2.175000,0.340000,0.400000,0.700000,0.000000,0.000000,...,3.000000,0.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,21.000000
50%,18102.000000,662.500000,658.500000,65.200000,9.350000,1.550000,3.000000,1.200000,0.500000,0.900000,...,17.000000,0.400000,0.400000,0.840000,0.930000,0.240000,0.040000,0.470000,14.88000,97.000000
75%,23107.000000,1214.500000,1154.000000,79.600000,21.900000,3.510000,10.200000,1.800000,3.000000,4.700000,...,39.250000,0.800000,0.870000,3.542500,3.840000,0.922500,0.120000,1.212500,156.41250,211.250000
max,34101.000000,3703.000000,3703.000000,100.000000,85.000000,15.200000,100.000000,99.800000,88.700000,100.000000,...,4031.000000,56.000000,211.000000,92.410000,80.590000,63.760000,54.580000,68.880000,5890.90000,795.000000

In [28]:
df_numeric_only = df_zero_filtered.drop(['Classification','Public Food Key','Food Name'],axis = 1)
df_numeric_only

,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),Total dietary fibre \n(g),Total sugars (g),"Available carbohydrate, without sugar alcohols \n(g)",...,Dietary folate equivalents \n(ug),Alpha tocopherol \n(mg),Vitamin E \n(mg),"Total saturated fatty acids, equated \n(g)","Total monounsaturated fatty acids, equated \n(g)",C18:2w6 (g),C18:3w3 (g),"Total polyunsaturated fatty acids, equated \n(g)","Total trans fatty acids, imputed \n(mg)",Tryptophan \n(mg)
0,1236,1012,8.3,10.8,1.72,6.7,5.8,28.0,4.4,34.4,...,3,2.8,2.85,2.20,2.81,1.00,0.39,1.39,0.0,155
1,1280,1002,10.8,13.4,2.14,14.3,11.8,34.8,7.2,14.9,...,28,38.1,38.14,2.06,2.68,6.24,0.44,6.69,0.0,69
2,1004,579,10.6,4.0,0.64,1.2,3.6,53.1,2.2,27.5,...,6,2.3,2.32,0.62,0.44,0.08,0.02,0.12,0.0,49
3,1389,1118,9.9,6.0,0.96,13.0,5.6,33.9,2.4,31.6,...,25,8.8,8.82,5.49,1.93,3.69,0.81,5.03,0.0,30
4,1344,1009,8.9,12.4,1.98,17.8,6.0,41.9,2.4,8.4,...,0,0.9,0.91,1.03,14.14,1.82,0.00,1.82,0.0,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,92,80,92.6,1.3,0.20,0.4,0.6,1.6,2.4,2.4,...,19,0.7,0.70,0.00,0.00,0.00,0.00,0.00,0.0,14
1612,77,66,93.8,1.1,0.17,0.4,0.5,1.3,2.0,2.0,...,13,0.6,0.59,0.00,0.00,0.00,0.00,0.00,0.0,12
1613,78,70,94.1,2.2,0.35,0.3,0.6,1.0,1.1,1.1,...,17,0.5,0.52,0.00,0.00,0.00,0.00,0.00,0.0,25
1614,111,100,91.6,3.1,0.50,0.4,0.8,1.4,1.6,1.6,...,17,0.7,0.70,0.00,0.00,0.00,0.00,0.00,0.0,35
1615,93,83,93.0,2.6,0.42,0.4,0.7,1.2,1.3,1.3,...,13,0.6,0.59,0.00,0.00,0.00,0.00,0.00,0.0,29

We can see that the data has significant outliers, that will bias the outcomes of the model. Removing the rows with outlier values.

In [35]:
import pandas as pd
import numpy as np
from scipy import stats

df_outlier_filtered = df_numeric_only[(np.abs(stats.zscore(df_numeric_only)) < 3).all(axis=1)]
df_outlier_filtered.describe()

,"Energy with dietary fibre, equated \n(kJ)","Energy, without dietary fibre, equated \n(kJ)",Moisture (water) \n(g),Protein \n(g),Nitrogen \n(g),"Fat, total \n(g)",Ash \n(g),Total dietary fibre \n(g),Total sugars (g),"Available carbohydrate, without sugar alcohols \n(g)",...,Dietary folate equivalents \n(ug),Alpha tocopherol \n(mg),Vitamin E \n(mg),"Total saturated fatty acids, equated \n(g)","Total monounsaturated fatty acids, equated \n(g)",C18:2w6 (g),C18:3w3 (g),"Total polyunsaturated fatty acids, equated \n(g)","Total trans fatty acids, imputed \n(mg)",Tryptophan \n(mg)
count,1333.000000,1333.000000,1333.00000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,...,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000,1333.000000
mean,690.436609,675.657914,63.71883,12.600975,2.028432,6.117104,1.311478,1.773893,4.128282,13.519805,...,36.486872,0.663316,0.684966,2.270608,2.408230,0.625274,0.086677,0.852138,120.239895,124.206302
std,507.280595,502.482314,24.83551,10.892554,1.739994,8.658042,1.252677,2.750410,7.987821,20.444727,...,63.840860,1.167392,1.206849,3.615873,3.953022,1.101220,0.184816,1.329476,224.258089,107.504181
min,0.000000,0.000000,1.20000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,272.000000,255.000000,55.10000,2.200000,0.370000,0.300000,0.700000,0.000000,0.000000,0.000000,...,3.000000,0.100000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000
50%,585.000000,581.000000,69.60000,9.700000,1.610000,2.700000,1.100000,0.400000,0.700000,2.700000,...,17.000000,0.300000,0.350000,0.720000,0.860000,0.200000,0.040000,0.400000,16.720000,100.000000
75%,961.000000,957.000000,81.90000,22.200000,3.570000,8.600000,1.500000,2.700000,4.000000,17.100000,...,37.000000,0.700000,0.750000,2.990000,3.270000,0.730000,0.100000,1.000000,142.300000,211.000000
max,2334.000000,2307.000000,100.00000,43.600000,6.990000,55.500000,16.200000,17.700000,45.500000,81.500000,...,449.000000,10.600000,10.600000,22.160000,26.860000,11.090000,4.060000,12.260000,1600.300000,420.000000

Normalise